<table>
    <thead>
        <tr>
            <th>Provider Name</td>
            <th>MCC</td>
            <th>MNC</td>
            <th>spns</td>
            <th>imsi</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="provider in $ctrl.providers track by provider.id" ng-click="$ctrl.selectProvider($index)" >
            <td ng-bind="provider.providerName"></td>
            <td ng-bind="provider.mcc"></td>
            <td ng-bind="provider.mnc"></td>
            <td>
                <p ng-repeat="spn in provider.spns">
                    {{spn}}
                </p>
            </td>
            <td>
                <p ng-repeat="imsi in provider.imsis">
                    {{imsi}}
                </p>
            </td>
        </tr>
        <tr ng-if="$ctrl.providers.length === 0">
            <td class="no-resul" colspan="5" >Not Found</td>
        </tr>
    </tbody>
</table>