<div class="filter-block">
    <form name="providerForm" ng-submit="$ctrl.submit(providerForm)" novalidate autocomplete="off">
        <div class="two-column">
            <div class="field-item">
                <p>Provider name:</p>
                <input type="text" name="name" 
                       ng-model="$ctrl.provider.providerName"
                       ng-maxlength="::$ctrl.validate.name.max"
                       ng-minlength="::$ctrl.validate.name.min"
                       required>
                       
                <div class="errors-block" ng-messages="providerForm.name.$error">
                    <p ng-message="required" ng-bind="::$ctrl.validate.name.requiredMessage"></p>
                    <p ng-message="minlength" ng-bind="::$ctrl.validate.name.minMessage"></p>
                    <p ng-message="maxlength" ng-bind="::$ctrl.validate.name.maxMessage"></p>
                </div>
            </div>
            <div class="field-item">
                <p>MCC:</p>
                <input type="text" name="mcc" numbers
                       ng-model="$ctrl.provider.mcc"
                       ng-maxlength="::$ctrl.validate.mcc.length"
                       ng-minlength="::$ctrl.validate.mcc.length"
                       required>

                <div class="errors-block" ng-messages="providerForm.mcc.$error">
                    <p ng-message="required" ng-bind="::$ctrl.validate.mcc.requiredMessage"></p>
                    <p ng-message="minlength" ng-bind="::$ctrl.validate.mcc.minMessage"></p>
                    <p ng-message="maxlength" ng-bind="::$ctrl.validate.mcc.minMessage"></p>
                </div>
            </div>
            <div class="field-item">
                <p>MNC:</p>
                <input type="text" name="mnc" numbers
                       ng-model="$ctrl.provider.mnc"
                       ng-maxlength="::$ctrl.validate.mnc.max"
                       ng-minlength="::$ctrl.validate.mnc.min"
                       required>

                <div class="errors-block" ng-messages="providerForm.mnc.$error">
                    <p ng-message="required" ng-bind="::$ctrl.validate.mnc.requiredMessage"></p>
                    <p ng-message="minlength" ng-bind="::$ctrl.validate.mnc.minMessage"></p>
                    <p ng-message="maxlength" ng-bind="::$ctrl.validate.mnc.maxMessage"></p>
                </div>
            </div>
            <div class="field-item">
            </div>
            <div class="field-item container">
                <p>SPN:</p>
                <input type="text" name="spns"
                       ng-model="$ctrl.spns"
                       on-enter="$ctrl.add('spns', providerForm)"
                       ng-maxlength="::$ctrl.validate.spn.max"
                       ng-minlength="::$ctrl.validate.spn.min">

                <div class="errors-block" ng-messages="providerForm.spns.$error">
                    <p ng-message="minlength" ng-bind="::$ctrl.validate.spn.minMessage"></p>
                    <p ng-message="maxlength" ng-bind="::$ctrl.validate.spn.maxMessage"></p>
                </div>
                <div class="values">
                    <p ng-repeat="spn in $ctrl.provider.spns" ng-dblclick="$ctrl.delete('spns', $index)" ng-bind="::spn"></p>
                </div>
            </div>
            <div class="field-item container">
                <p>IMSI:</p>
                <input type="text" name="imsis"
                       ng-model="$ctrl.imsis"
                       on-enter="$ctrl.add('imsis', providerForm)"
                       ng-maxlength="::$ctrl.validate.imsi.max"
                       ng-minlength="::$ctrl.validate.imsi.min">

                <div class="errors-block" ng-messages="providerForm.imsis.$error">
                    <p ng-message="minlength" ng-bind="::$ctrl.validate.imsi.minMessage"></p>
                    <p ng-message="maxlength" ng-bind="::$ctrl.validate.imsi.maxMessage"></p>
                </div>
                <div class="values">
                    <p ng-repeat="imsi in $ctrl.provider.imsis" ng-dblclick="$ctrl.delete('imsis', $index)" ng-bind="::imsi"></p>
                </div>
            </div>
        </div>
        <div class="button-block">
            <button >Save</button>
            <button ng-if="$ctrl.editMode" type="button" ng-click="$ctrl.deleteProvider()" >Delete</button>
        </div>
    </form>
</div>