<div class="filter-block">
    <form name="filterForm" ng-submit="$ctrl.submit(filterForm)" novalidate autocomplete="off">
        <div class="two-column">
            <div class="field-item">
                <p>Provider name:</p>
                <input type="text" ng-model="$ctrl.filter.providerName">
            </div>
            <div class="field-item">
                <p>MCC:</p>
                <input type="text" numbers ng-model="$ctrl.filter.mcc">
            </div>
            <div class="field-item">
                <p>MNC:</p>
                <input type="text" numbers ng-model="$ctrl.filter.mnc">
            </div>
            <div class="field-item">
            </div>
            <div class="field-item">
                <p>SPN:</p>
                <input type="text" ng-model="$ctrl.filter.spn">
            </div>
            <div class="field-item">
                <p>IMSI:</p>
                <input type="text" ng-model="$ctrl.filter.imsi">
            </div>
        </div>
        <div class="button-block">
            <button >Search</button>
            <button ng-click="$ctrl.filter = {}" type="button">Clear</button>
        </div>
    </form>
</div>