:root {
    --background: #f9f9fa;
    --border-color: #ddd;
    --red: #ff3030;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    letter-spacing: 0.6px;
}

input {
    outline: none;
    padding: 5px 14px; 
    border: 1px solid var(--border-color);
    border-radius: 3px;
    width: 100%;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.ng-invalid {
    border-color: var(--red);
}

.errors-block p {
    color: var(--red);
    font-size: 13px;
    margin-top: 5px;
}