<div class="provider-page-container">

    <div class="control">
        <button class="btn" ng-click="$ctrl.changeMod('filter')">Filter</button>
        <button class="btn" ng-click="$ctrl.changeMod('new')">Add</button>
        <button class="btn" ng-click="$ctrl.changeMod('detection')">Detection</button>
    </div>

    <filter-form ng-if="$ctrl.mode.filter" on-change="$ctrl.changeFilter($event)" ></filter-form>
    <provider-form ng-if="$ctrl.mode.new" on-save="$ctrl.addProvider($event)" ></provider-form>
    <provider-form ng-if="$ctrl.mode.edit" provider="$ctrl.selectedProvider"
                  on-save="$ctrl.updateProvider($event)"
                  on-delete="$ctrl.deleteProvider($event)" ></provider-form>
    <detection-form ng-if="$ctrl.mode.detection"
               on-change="$ctrl.search($event)"></detection-form>

    <provider-list providers="$ctrl.providers" on-select="$ctrl.selectProvider($event)"></provider-list>

</div>