.provider-page-container {
    width: 75%;
    margin: 0 auto;
}
.provider-page-container table{
    width: 100%;
    border-collapse: collapse;
}
.provider-page-container tr {
    height: 40px;
    cursor: pointer;
}
.provider-page-container td {
    border-bottom: 1px solid var(--border-color);
}
.provider-page-container th {
    width: 20%;
    text-align: left;
}
.provider-page-container td.no-resul {
    text-align: center;
}
.provider-page-container .control {
    display: flex;
}
.provider-page-container .btn {
    width: 100%;
    background: #eaeaea;
    padding: 10px;
}
.provider-page-container .btn:hover {
    background-color: #d8d8d8;
}

.provider-page-container .filter-block {
    margin-bottom: 20px;
}
.provider-page-container .filter-block:after {
    clear: both;
    display: table;
    content: "";
}
.provider-page-container .filter-block .two-column {
    display: flex;
    flex-wrap: wrap;
}
.provider-page-container .filter-block .two-column .field-item {
    width: 50%;
    padding: 5px;
}
.provider-page-container .filter-block .button-block {
    margin-top: 10px;
}
.provider-page-container .filter-block button {
    padding: 5px;
    float: right;
    margin-left: 5px;
}
.provider-page-container .container .values p{
    cursor: pointer;
    margin: 3px auto;
}