<div class="filter-block">
    <form name="detectionForm" ng-submit="$ctrl.submit(detectionForm)" novalidate autocomplete="off">
        <div class="two-column">
            <div class="field-item">
                <p>SPN:</p>
                <input type="text" name="spn" 
                       ng-model="$ctrl.detection.spn" 
                       required>
                <div class="errors-block" ng-messages="detectionForm.spn.$error">
                    <p ng-message="required" >Field is required</p>
                </div>
            </div>
            <div class="field-item">
                <p>IMSI:</p>
                <input type="text" name="imsi" 
                       ng-model="$ctrl.detection.imsi"
                       required>
                <div class="errors-block" ng-messages="detectionForm.imsi.$error">
                    <p ng-message="required" >Field is required</p>
                </div>
            </div>
        </div>
        <div class="button-block">
            <button >Search</button>
            <button ng-click="$ctrl.detection = {}" type="button">Clear</button>
        </div>
    </form>
</div>